
.title-container {
  /*background: yellow;*/
  height: 25%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0;
  overflow: hidden;
}

.image-container {
  /*background: blue;*/
  height: 45%;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin-top: 0;
  overflow: hidden;
}

.description-container {
  /*background: red;*/
  height: 30%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 0;
  overflow: hidden;
}
